<html>
   <body>
   <h1> Sales Timeseries Forecast </h1>
   Please enter the revenues for the past 5 months:
      <form action = "prediction" method = "POST">
         <p> <label> Month 5 </label> <input type = "number" name = "month05" /> </p>
         <p> <label> Month 4 </label> <input type = "number" name = "month04" /> </p>
	       <p> <label> Month 3 </label> <input type = "number" name = "month03" /> </p>
	       <p> <label> Month 2 </label> <input type = "number" name = "month02" /> </p>
	       <p> <label> Month 1 </label> <input type = "number" name = "month01" /> </p>
	       <p> <input type = "submit" value = "Submit" /> </p>
      </form>
   </body>
</html>
